html,
* {
	box-sizing: border-box;
}
/* HEADER */
.header {
	padding: 60px;
	text-align: center;
	background: #B1AFFF;
	color: white;
	font-size: 30px;
}
/* button in header */
.btn {
	color: #FFFFFF;
	background-color: #B8E8FC;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	font-size: 20px;
}
.btn:hover {
	background-color: #FFFFFF;
	color: #B8E8FC;
}
/* END OF HEADER */

/* body */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* FOOTER */
.footer {
	padding: 3px;
	margin-top: auto;
	text-align: center;
	background: #B8E8FC;
	color: #FFFFFF;
	font-size: 40px;
}
/* photos of us */
.column {
	float: left;
	padding: 5px;
}
.column img {
	width: 300px;
	height: 300px;
	object-fit: scale-down;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
figure {
	margin: 0;
	margin-right: 20px;
	background: #B1AFFF;
}
figcaption {
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}
/* END OF FOOTER */

/* highlight */
::selection {
	background: #FDFDBD;
	color: #B1AFFF;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px; 
    height: 20px;
    background-color: #B8E8FC;
}

::-webkit-scrollbar-track {background-color: #B8E8FC; border-radius: 20px;}

::-webkit-scrollbar-thumb {
    background-color: #C8FFD4;
    min-height: 35px;
    min-width: 35px;
    border-radius: 10px;
}
