html,
* {
	box-sizing: border-box;
}
/* HEADER */
.header {
	padding: 60px;
	text-align: center;
	background: #B1AFFF;
	color: white;
	font-size: 30px;
}
/* button in header */
.btn {
	color: black;
	background-color: #B8E8FC;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 50px;
	font-size: 20px;
}
.btn:hover {
	background-color: #FFFFFF;
	color: #B1AFFF;
}
/* END OF HEADER */

/* body */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.topic {
	margin-left:200px; 
	margin-right:200px;
	color: #B1AFFF;
	text-align: left;
	font-size: 25px;
}

.content {
	margin-left:200px; 
	margin-right:200px;
	color: black;
	text-align: left;
	font-size: 20px;
}
iframe {
	margin-left: 200px;
	margin-bottom: 25px;
}
.emphasis {
	color: #B1AFFF;
	font-style: italic;
}
.sources {
	margin-left:300px; 
	margin-right:300px;
	color: black;
	text-align: left;
	font-size: 15px;
}
/* FOOTER */
.footer {
	padding: 3px;
	margin-top: auto;
	text-align: center;
	background: #B8E8FC;
	color: black;
	font-size: 30px;
	/* text-shadow: 2px 2px 4px #000000; */
}
/* photos of us */
.column {
	float: left;
	padding: 5px;
}
.column img {
	width: 250px;
	height: 300px;
	object-fit: contain;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
figure {
	margin: 0;
	margin-right: 20px;
	background: #B1AFFF;
}
figcaption {
	text-align: center;
	color: white;
	font-size: 20px;
	text-shadow: none;
}
/* END OF FOOTER */

/* highlight */
::selection {
	background: #C8FFD4;
	color: black;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px; 
    height: 20px;
    background-color: #DCDCDC;
}

::-webkit-scrollbar-track {background-color: #DCDCDC; border-radius: 20px;}

::-webkit-scrollbar-thumb {
    background-color: #B1AFFF;
    min-height: 35px;
    min-width: 35px;
    border-radius: 10px;
}
